/*样式重置*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}
header,article,footer,section {
    display: block;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1;
    font-family: "华文黑体","Heiti SC","微软雅黑",sans-serif;
}
html,body {
    width: 100%;
    max-width: 818px;
    min-height: 100%;
    /*height: 100%;*/
    background-color: #f9f9f9;
    color: #333;
    margin: auto;
}
:focus {
    outline: 0
}
ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
blockquote:before, blockquote:after, q:before, q:after {
    content: “”
}
blockquote, q {
    quotes: “” “”
}
input, textarea {
    margin: 0;
    padding: 0
}
hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}
input,button,a,select,textarea{
    appearance:none;
    -webkit-appearance:none; /* Safari 和 Chrome */
    border: none;
    outline: none;
}
::-webkit-input-placeholder{color:#999;}
input[type="text"],input[type="password"],input[type="submit"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color: #666;
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;   /*使ios上滑动更流畅*/
}

/*顶栏css*/
.header {
    background: #03A9F4;
    font-size: 15px;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.back-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}
.back-btn i {
    font-size: 18px;
}